[*.cs]

# IDE0032: Automatisch generierte Eigenschaft verwenden
dotnet_style_prefer_auto_properties = false:silent

# IDE0003: Qualifizierung entfernen
dotnet_style_qualification_for_event = false:none

# IDE0003: Qualifizierung entfernen
dotnet_style_qualification_for_method = false:none

# IDE0003: Qualifizierung entfernen
dotnet_style_qualification_for_property = false:none

# IDE0003: Qualifizierung entfernen
dotnet_style_qualification_for_field = false:none
